*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 12%;
}

p{
  font-size: 15px;
}

/* HEADER STYLES */

header{
  background-color:#313C4E;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1{
  color: white;
  font-size: 44px;
}

h4{
  color:#2f6697;
  font-size: 22px;
}

.header-paragraph{
  color: whitesmoke;
  width: 500px;
}

.header-text{
  margin-bottom: 30px;
}

.photo{
  border: 5px solid rgb(1, 167, 167);
}

/* ARTICLE STYLES */

h2{
  text-decoration:underline;
  text-transform: uppercase;
  font-size: 25px;
  color: teal;
}

h3{
  font-weight: bold;
  font-size: 22px;
}

.university{
  font-size: 18px;
  font-weight: 500;
}

.additional-information-div p, .additional-information-paragraph{
  color: teal;
  font-size: 13px;
  font-style: italic;
}

.additional-information-div{
  display:flex;
  justify-content: space-between;
}

.explanation-paragraph{
  color: rgb(172, 172, 172);
  font-style: italic;
  font-size: 13px;
}

/*ARTICLE */

.article-flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.article-content-div{
  margin-bottom: 20px;
}

/* SKILLS */
.skills p{
  font-weight: bold;
  color: white;
  background-color: gray;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 4px;
}

/* CERTIFICATES */
h5{
  font-size: 16px;
  font-weight: 500;
}

/* LANGUAGES */

.languages-div h2{
  text-align: center;
  margin-bottom: 10px;
}

.languages{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.languages h6{
  font-size: 14px;
}

/* INTERESTS */
.interests-div h2{
 text-align: center;
 margin-bottom: 10px;
}

.paragraph-flex-div{
  display: flex;
  justify-content: center;
}

.interests-paragraph{
  border: 2px solid gray;
  padding: 10px;
  flex-basis: 50%;
}

/* FOOTER */
footer{
  background-color: #222A33;
  display:flex;
  justify-content: space-evenly;
}

a:link{
  color: whitesmoke;
  text-decoration: none;
}

a:visited{
  color: whitesmoke;
}

.icons-div{
  color: whitesmoke;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}